.price{
     margin :0 10px 0 0;
}
img{
    color:white;
}
.encuentra{
    margin:0;
}
.icon{
    width: 500px;
}
.social{
   border-radius: 10px;
}
.bloque{
    border-radius: 10px;
    height: 330px;
    width:30%;
    background-color: #eeeeee;
}
.perfil{
    width: 20%;
}

@media (max-width: 768px) {
  .bloque{
   width: 90%;
   margin: 10px 0 0 0;
}
.contenedor{
    flex-direction: column;

}
}